.filters {
    max-width: 400px;
    width: calc(100% - 10px);
    position: sticky;
    top: 20px;
    height: fit-content;
    margin-top: 40px;
}

.filters form {
    gap: 20px;
}

.filters select {
    width: 80%;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 0px 15px;
    font-weight: 600;
    font-size: 20px;
}

.filters option {
    color: black;
}

.filters button {
    background-color: green;
    border: none;
    font-family: Montserrat;
    color: white;
    font-weight: 800;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    .filters {
        margin: 20px 0px;
        max-width: 100%;
        position: relative;
        top: 0;
    }
}