.navbar {
    height: 80px;
    width: 100%;
    padding: 15px 0px;
    margin-bottom: 40px;
}

.navbar img {
    height: 50px;
    margin: auto;
}

.main-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1400px;
    width: 100%;
    padding: 0px 20px;
}